/* line 5, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/software/tools/work_tools/Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background: #f4f4f4;
}

/* line 7, ../sass/style.scss */
.wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* line 13, ../sass/style.scss */
.wrapper img {
  max-width: 100%;
}

/* line 1, ../sass/_screen.scss */
html {
  font-size: 20px;
}

@media only screen and (min-width: 401px) {
  /* line 5, ../sass/_screen.scss */
  html {
    font-size: 25px !important;
  }
}
@media only screen and (min-width: 428px) {
  /* line 10, ../sass/_screen.scss */
  html {
    font-size: 26.75px !important;
  }
}
@media only screen and (min-width: 481px) {
  /* line 15, ../sass/_screen.scss */
  html {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 569px) {
  /* line 20, ../sass/_screen.scss */
  html {
    font-size: 35px !important;
  }
}
@media only screen and (min-width: 641px) {
  /* line 25, ../sass/_screen.scss */
  html {
    font-size: 40px !important;
  }
}
/* line 9, ../sass/_theme.scss */
.mint-spinner-triple-bounce, .mint-spinner-fading-circle {
  margin: 20px auto;
  text-align: center;
}

/* line 3, ../sass/_home-header.scss */
.header {
  height: 2.2rem;
  text-align: center;
  color: #fff;
  line-height: 2.2rem;
  position: relative;
  font-size: 1rem;
}

/* line 12, ../sass/_home-header.scss */
.header .mint-header {
  height: 2.2rem;
  font-size: .8rem;
}
/* line 16, ../sass/_home-header.scss */
.header .mintui {
  font-size: .8rem;
}
/* line 19, ../sass/_home-header.scss */
.header .history-back {
  display: block;
  position: absolute;
  top: 0;
  left: -0.25rem;
  font-size: 1.5rem;
  padding: 0 10px;
  color: #fff;
}

/* line 3, ../sass/_nav.scss */
a {
  text-decoration: none;
}

/* line 6, ../sass/_nav.scss */
.nav {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: -moz-box;
  display: -webkit-box;
}

/* line 18, ../sass/_nav.scss */
.nav a {
  -webkit-box-flex: 1;
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  text-align: center;
  font-size: .8rem;
  color: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
}
/* line 30, ../sass/_nav.scss */
.nav a.router-link-active {
  color: #31c27c;
}
/* line 34, ../sass/_nav.scss */
.nav a.router-link-active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #31c27c;
}
/* line 45, ../sass/_nav.scss */
.nav .mint-tab-item-label {
  font-size: .6rem;
}

/* line 10, ../sass/_search.scss */
.wrapper .search-bar {
  padding: 0.25rem;
  background: #26a2ff;
  height: 2rem;
  display: flex;
  -webkit-display: flex;
}
/* line 18, ../sass/_search.scss */
.wrapper .search-bar .search-input {
  padding-left: .75rem;
  font-size: .8rem;
  height: 1.75rem;
  border: none;
  flex: 1 1 11.5rem;
  -webkit-flex: 1 1 11.5rem;
}
/* line 26, ../sass/_search.scss */
.wrapper .search-bar .search-btn {
  background: #26a2ff;
  border: none;
  color: #fff;
  width: 4.25rem;
  line-height: 2rem;
  font-size: .8rem;
  padding: 0;
}
/* line 38, ../sass/_search.scss */
.wrapper .hero-box .hero-block {
  overflow: hidden;
  padding: 0.5rem;
  display: flex;
  -webkit-display: flex;
}
/* line 44, ../sass/_search.scss */
.wrapper .hero-box .hero-title {
  height: 2rem;
  line-height: 2rem;
  background: #26a2ff;
  margin-top: 0.1rem;
  font-size: 0.8rem;
  color: #fff;
  padding-left: 0.5rem;
}
/* line 55, ../sass/_search.scss */
.wrapper .hero-box .hero-img {
  flex: 1 1 4rem;
  -webkit-flex: 1 1 4rem;
}
/* line 59, ../sass/_search.scss */
.wrapper .hero-box .hero-content {
  flex: 1 1 9rem;
  -webkit-flex: 1 1 9rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
}
/* line 66, ../sass/_search.scss */
.wrapper .hero-box .hero-detail {
  position: relative;
  background: #26a2ff;
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: #fff;
}
/* line 72, ../sass/_search.scss */
.wrapper .hero-box .hero-detail:first-child {
  margin-top: 0;
}
/* line 75, ../sass/_search.scss */
.wrapper .hero-box .hero-detail:before {
  font-family: "mintui" !important;
  content: "\E602";
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
/* line 84, ../sass/_search.scss */
.wrapper .hero-box .btn-detail {
  background: #26a2ff;
  color: #fff;
  padding: 0.5rem;
}

/* line 4, ../sass/_hero-list.scss */
.wrapper .hero-ul {
  overflow: hidden;
  padding: 0.5rem;
}
/* line 8, ../sass/_hero-list.scss */
.wrapper .hero-list {
  display: block;
  float: left;
  width: 33.33%;
  margin: 5px 0;
  text-align: center;
}
/* line 16, ../sass/_hero-list.scss */
.wrapper .hero-list a {
  display: block;
  color: #333;
}
/* line 20, ../sass/_hero-list.scss */
.wrapper .hero-list img {
  display: block;
  margin: 0 auto;
  min-height: 9rem;
}
/* line 25, ../sass/_hero-list.scss */
.wrapper .hero-list .block {
  margin: 5px;
}
/* line 28, ../sass/_hero-list.scss */
.wrapper .hero-list .hero-name {
  font-size: 0.8rem;
  margin-top: 5px;
}
/* line 32, ../sass/_hero-list.scss */
.wrapper .hero-list .hero-title {
  font-size: 0.7rem;
  margin-top: 5px;
  color: #999;
}

/* line 2, ../sass/_detail.scss */
.detail-box {
  position: relative;
  padding-bottom: 3rem;
}
/* line 5, ../sass/_detail.scss */
.detail-box .detail-banner {
  background-size: cover;
  color: #fff;
  font-weight: 700;
}
/* line 10, ../sass/_detail.scss */
.detail-box .tag-box {
  position: absolute;
  top: 0.1rem;
  left: .5rem;
}
/* line 15, ../sass/_detail.scss */
.detail-box .tag-name {
  color: #fff;
  font-size: .8rem;
}
/* line 19, ../sass/_detail.scss */
.detail-box .detail-box {
  padding: 0 .5rem .5rem .5rem;
  background: #fff;
}
/* line 23, ../sass/_detail.scss */
.detail-box .flex-box {
  margin-bottom: 5px;
  overflow: hidden;
  margin-top: .5rem;
  padding-top: 0.5rem;
}
/* line 29, ../sass/_detail.scss */
.detail-box .flex-left {
  float: left;
  width: 4rem;
}
/* line 33, ../sass/_detail.scss */
.detail-box .flex-left2 {
  margin-left: .5rem;
  float: right;
  width: 10.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
}
/* line 40, ../sass/_detail.scss */
.detail-box .use-title {
  font-size: 0.8rem;
  line-height: 1rem;
}
/* line 44, ../sass/_detail.scss */
.detail-box .use-skill {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-top: .5rem;
  padding: 0.5rem;
}
/* line 50, ../sass/_detail.scss */
.detail-box .mint-tab-item-label {
  font-size: .6rem;
}
/* line 53, ../sass/_detail.scss */
.detail-box .mint-navbar .mint-tab-item {
  padding: .85rem 0;
}
/* line 56, ../sass/_detail.scss */
.detail-box .mint-badge.is-size-normal {
  font-size: 0.75rem;
  padding: 0.1rem 0.4rem;
}

/* line 4, ../sass/_world.scss */
#world .world-box {
  padding: 0 .5rem;
  background: #fff;
}
/* line 8, ../sass/_world.scss */
#world .world-list {
  overflow: hidden;
  padding: 1rem auto;
}
/* line 11, ../sass/_world.scss */
#world .world-list .mint-badge.is-size-normal {
  font-size: 0.75rem;
}
/* line 14, ../sass/_world.scss */
#world .world-list li {
  float: left;
  width: 7.25rem;
  margin: 0.1rem 0;
  border: 1px solid #ddd;
  padding: 1rem 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 23, ../sass/_world.scss */
#world .world-list li:nth-child(odd) {
  margin-right: 0.25rem;
}
/* line 26, ../sass/_world.scss */
#world .world-list li:nth-child(even) {
  margin-left: 0.25rem;
}
/* line 29, ../sass/_world.scss */
#world .world-list li p {
  text-align: center;
  margin-top: 0.5rem;
}
/* line 33, ../sass/_world.scss */
#world .world-list li .badge {
  position: relative;
  left: 1rem;
}
/* line 39, ../sass/_world.scss */
#world .equip-list {
  overflow: hidden;
  padding-top: 1rem;
}
/* line 42, ../sass/_world.scss */
#world .equip-list li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
/* line 48, ../sass/_world.scss */
#world .equip-list li img {
  width: 2.1rem;
  height: 2.1rem;
  border: 2px solid #26a2ff;
  border-radius: 10px 0 10px 0;
}
/* line 54, ../sass/_world.scss */
#world .equip-list li .equip-name {
  padding-top: .25rem;
}
/* line 59, ../sass/_world.scss */
#world .mint-tab-item-label {
  font-size: .6rem;
}
