@import "compass/css3";
.detail-box{
  position: relative;
  padding-bottom: 3rem;
  .detail-banner{
    background-size: cover;
    color: #fff;
    font-weight: 700;
  }
  .tag-box{
    position: absolute;
    top: 0.1rem;
    left: .5rem;
  }
  .tag-name{
    color: #fff;
    font-size: .8rem;
  }
  .detail-box{
    padding: 0 .5rem .5rem .5rem;
    background: $wt_bg;
  }
  .flex-box{
    margin-bottom: 5px;
    overflow: hidden;
    margin-top: .5rem;
    padding-top: 0.5rem;
  }
  .flex-left{
    float: left;
    width: 4rem;
  }
  .flex-left2{
    margin-left: .5rem;
    float: right;
    width: 10.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
    .skill-name{
      color: $header_bg;
    }
  }
  .use-title{
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .use-skill{
    font-size: 0.7rem;
    line-height: 1rem;
    margin-top: .5rem;
    padding: 0.5rem;
  }
  .mint-tab-item-label{
    font-size: .6rem;
  }
  .mint-navbar .mint-tab-item{
    padding: .85rem 0;
  }
  .mint-badge.is-size-normal{
    font-size: 0.75rem;
    padding: 0.1rem 0.4rem;
  }
}
