@charset "UTF-8";
@import "./_theme.scss";
.wrapper{
  .hero-ul{
    overflow: hidden;
    padding: 0.5rem;
  }
  .hero-list{
    display: block;
    float: left;
    width: 33.33%;
    margin: 5px 0;
    text-align: center;
  }
  .hero-list{
    a{
      display: block;
      color: #333;
    }
    img{
      display: block;
      margin: 0 auto;
      min-height: 9rem;
    }
    .block{
      margin: 5px;
    }
    .hero-name{
      font-size: 0.8rem;
      margin-top: 5px;
    }
    .hero-title{
      font-size: 0.7rem;
      margin-top: 5px;
      color: #999;
    }
  }
}
