@charset "UTF-8";
@import "./_theme.scss";
.header{
  width: 100%;
  max-width: 640px;
  height: 2.2rem;
  text-align: center;
  color: $header_color;
  line-height: 2.2rem;
  position: relative;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.header{
  .mint-header{
    height: 2.2rem;
    font-size: .8rem;
  }
  .mintui{
    font-size: .8rem;
  }
  .history-back{
    display: block;
    position: absolute;
    top: 0;
    left: -0.25rem;
    font-size: 1.5rem;
    padding: 0 10px;
    color: $header_color;
  }
  .history-back{

  }
}
