@charset "UTF-8";
@mixin bgImg($url, $x_size, $y_size) {
  background-image: url($url);
  background-size: $x_size, $y_size;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper{

}
