@charset "UTF-8";
@import "compass/reset";

body{
  background: #f4f4f4;
}
.wrapper{
  max-width: 640px;
  margin: 0 auto;
}
.wrapper{
  img{
    max-width: 100%;
  }
}
@import "./_screen.scss";
@import "./_home-header.scss";
@import "./_nav.scss";
@import "./_search.scss";
@import "./_hero-list.scss";
